.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  font-size: large;
  font-weight: bold;
}

.tab-list-item:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.highlights:before {
  content:url('../../images/resumeIcons/highlights.png'); 
  position:relative; 
  z-index:100000; /*a number that's more than the modal box*/
  padding: 5px;
}

.work-history:before {
  content:url('../../images/resumeIcons/workHistory.png'); 
  position:relative; 
  z-index:100000; /*a number that's more than the modal box*/
  padding: 5px;
}

.projects:before {
  content:url('../../images/resumeIcons/projects.png'); 
  position:relative; 
  z-index:100000; /*a number that's more than the modal box*/
  padding: 5px;
}

.online:before {
  content:url('../../images/resumeIcons/contact.png'); 
  position:relative; 
  z-index:100000; /*a number that's more than the modal box*/
  padding: 5px;
}

.education:before {
  content:url('../../images/resumeIcons/education.png'); 
  position:relative; 
  z-index:100000; /*a number that's more than the modal box*/
  padding: 5px;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}