.social-button {
  display: inline-block;
  width: 300px;
  padding: 10px;
  border-color: black;
  border-width: thin;
  border-style: double;
  margin: 10px;
}

.social-button:hover {
  background-color: rgb(241, 241, 241);
}

.social-image {
  text-align: center;
  height: 50px;
  width: auto;
  border-color: lightgrey;
  border-width: thin;
  border-style: solid
}

a {
  text-decoration: none;
}

.social-li {
  list-style: none;
  display: inline-block
}

.link-title {
  font-weight: 600;
  padding: 20px;
}